<div class="form-group form-group-lg w-75 mx-auto mt-4 "  id="searchbar">
    <div class="input-group">            
        <input type="text" class="form-control form-control-lg shadow bg-white p-2 rounded-left" placeholder="What are you looking for?" style="border-top-right-radius: 0px;border-bottom-right-radius: 0px; font-size: 1rem;" >
        <div class="input-group-append border  shadow bg-white rounded-right" >
            <span class="material-icons pt-2 pl-2 pr-2 bg-primary rounded-right" style="color: azure;">
                search
           </span>
        </div>
    </div>
</div>
